<h1>Edit <%= @figure.name %>'s Info Here</h1>
<form action= "/figures/<%= @figure.id %>" method = "POST" >
<input id= "hidden" type= "hidden" name= "_method" value= "PATCH" >
<label for= "name" > Name: </label><br>
<input type= "text" name= "name" value= "<%= @figure.name %>" >
<input type= "submit" value= "Submit" >
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
